{% include 'base.twig' %}

{% block title %}
    olol
{% endblock %}

{% block content %}
    <div class="photos">
        <div class="container">
            {{ id }}
        </div>
    </div>
{% endblock %}
