@font-face {
  font-family: font-light;
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: font-regular;
  src: url("../fonts/OpenSans-Regular.ttf");
}
html {
  position: relative;
  min-height: 100%;
}
html body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
  font-family: font-regular;
}
html body .image {
  padding-top: 60px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background: url("../img/index_photo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 35em !important;
}
html body .text {
  padding: 15px 15px 0 !important;
}
html body .tour {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 25px !important;
}
html body .tour .row {
  margin-top: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid gainsboro;
}
html body > .container {
  padding: 60px 15px 0;
}
html body .text-muted {
  margin: 20px 0;
}
html body .header {
  border-color: transparent !important;
  background-color: #2f2f2f;
}
html body .header li a {
  color: white !important;
  text-transform: uppercase;
}
html body .header li a:hover {
  color: lightgrey !important;
}
html body #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #191919;
  padding-top: 20px;
}
html body #footer .container {
  padding-right: 15px;
  padding-left: 15px;
}
html body #footer .container .social {
  color: white;
}
html body #footer .container .social#fb:hover {
  color: #3b5998;
}
html body #footer .container .social#vk:hover {
  color: #507299;
}
html body #footer .container .social#youtube:hover {
  color: #cc181e;
}
code {
  font-size: 80%;
}
