html {
  position: relative;
  min-height: 100%;
}
html body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
html body .image {
  padding-top: 60px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background: url("../img/index_photo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 25em !important;
}
html body .text {
  padding: 15px 15px 0 !important;
}
html body > .container {
  padding: 60px 15px 0;
}
html body .text-muted {
  margin: 20px 0;
}
html body .header {
  border-color: transparent !important;
  background-color: #2f2f2f;
}
html body .header li a {
  color: white !important;
}
html body .header li a:hover {
  color: lightgrey !important;
}
html body #footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #191919;
}
html body #footer .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
