database:
    driver: pdo_mysql
    host: localhost
    db_name: chicherina
    db_user: root
    db_password: nulll

root.setup:
    pattern: '^/root'
    login_path: '/login'
    check_path: '/root/login_check'
    redirect_path: '/root'
    username: 'root'
    role: 'ROLE_ROOT'
    password: 'ctrnjh'
    logout_path: '/root/logout'