{% extends 'base.twig' %}

{% block content %}
    <div class="contacts">
        <div class="container">
            <p>
                контакты
            </p>
        </div>
    </div>
{% endblock %}