{% extends 'base.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
   <div class="rider">
       <div class="container">
           <p>
               райдер
           </p>
       </div>
   </div>
{% endblock %}