{% extends 'base.twig' %}

{% block content %}
    <div class="container tour">

        <div class="row">
           <div class="col-lg-2 col-xs-4 date">
               <p>1 мая 2017</p>
           </div>
           <div class="col-lg-8 col-xs-4 city">
               <p class="center-block">Москва</p>
           </div>
           <div class="col-lg-2 col-xs-4 location">
               <p class="pull-right">Клуб "Огонёк"</p>
           </div>
       </div>

        <div class="row">
            <div class="col-lg-2 col-xs-4 date">
                <p>3 мая 2017</p>
            </div>
            <div class="col-lg-8 col-xs-4 city">
                <p class="center-block">Санкт-Петербург</p>
            </div>
            <div class="col-lg-2 col-xs-4 location">
                <p class="pull-right">Клуб "Clubname"</p>
            </div>
        </div>
    </div>
{% endblock %}